{% extends 'base.html' %}

{% block titulo %} Deletar? {% endblock %}

{% block main %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Apagar {{pessoa.first_name}}</h1>
            
            <p class="lead">
                <form action="" method="POST">
                    {% csrf_token %}
                    
                    <input type="submit" class="btn btn-primary btn-lg" value="Delete">
                </form>
                
            </p>
        </div>
    </div>

{% endblock %}