{% extends 'base.html' %}
{% load bootstrap %}

{% block titulo %}Página de Login{% endblock %}

{% block main %}

    <div class="container">
        <div class="row my-5 py-5 ">
            <div class="col col-md-6 w-100 text-center">
                <h2 class="h2">Login</h2>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-6 align-self-center">
        
                <form action="" method="POST">
                    {% csrf_token %}

                    {{ form|bootstrap }}
                    <button type="submit" class="btn btn-secondary">
                        Entrar
                    </button>
                </form>            
                
            </div>
                
        </div>

    </div>
    
{% endblock %}
